base58>=0.2.2
click>=8.0.4
coincurve-stubs>=9.0.0
coincurve>=18.0.0
ecdsa>=0.11
fastecdsa>=2.2.1
mnemonic>=0.18
numpy>=1.21.0
pycryptodome>=3.14.1
pycryptodome>=3.6.6
requests>=2.25.0
six>=1.8.0
SQLAlchemy>=1.4.24